# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/
